* {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 25px;
    border: 3px solid #5C008E;
    border-radius: 10px;
    float: center;
    width: 200%;
    background: #f1f1f1;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
h1{
    color: #5C008E;
    font-family: 'IBM Plex Serif', serif;
}

.images {
  object-fit: contain;
  width: 100%;
}

#cal{
    background-color:#D1D6FF;
    border-radius: 8px;
    padding:8px;
    
}
#leftsection{
    background: #F6F6F6;
    position: fixed;
    top:0;
    left:0;
    font-family: 'IBM Plex Sans', sans-serif;
    height:100%;
    font-size: 20px
}

.listbutt{
background-color: #D1D6FF;
border: none;
padding: 7px 16px;
display: inline-block;
font-size: 19px;
color: #5C008E;
border-radius: 8px;
font-family: 'IBM Plex Sans', sans-serif;
}

button:hover{
    background-color: #bbc1e9;
  }

.peace{
    float:left
}

#days{
    color: #5C008E;
    background-color:#F6F6F6;
    border-radius: 8px;
}
.peace2{
  display:none;
}

ul{
    list-style-type: none;
    margin:0;
    padding:4px;
    overflow:hidden;
    display: flex;
    justify-content: center;
}
li{
  margin-left: 120px;
}
li a {
    display: flex;
    text-decoration: none;
    font-size: 26px;
    color: #5C008E;
    font-family: 'IBM Plex Sans', sans-serif;
  }

  li a:hover{
    background-color: #bbc1e9;
  }

  body{
    color: #5C008E;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  #topban{
    background-color:#D1D6FF;
    left: 240px;
    top:80px;
    position:absolute;
    width:82%; 
    display:flex;

  }

  #products{
    font-size:50px;
    left:260px;
    top:150px;
    position:absolute;
    font-family: 'IBM Plex Sans', sans-serif;
  }

  .images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .images div{
    width: 250px;
  }

  @media (min-width: 671px) and (max-width: 1200px) {
    body {
      font-size:23px;
      filter:invert(5%)
    }
    .images {
      max-width: 80%;
      max-height: 80%;
    }

    #topban{
left: 0px;
width:100%;
display:inline-block;
    }

    #cal{
      display:none;
    }

    li a{
      font-size: 70%;
display:block;
width:100%;
    }

    li{
      margin-left: 2%;
width:90%;
justify-content: space-evenly;
    }

    form.example input[type=text] {
      padding: 10px;
      font-size: 20px;
      border: 3px solid #5C008E;
      width: 90%;
    }

    .images{
      justify-content:space-between;
    }

    #products{
      font-family: 'IBM Plex Sans', sans-serif;
      font-size:30px;
      top:150px;
        position:absolute;
    }

    #leftsection{
display:block;
position: fixed;
    }

    .wuh{
      width:80%
    }

    .pic{
max-width: 55%;
    }

    .listbutt{
      width:60%;
      font-size:60%;
      position:fixed;
      padding: 3px;
      margin-top: 15px;
      margin-left: 8px;
    }
  }

  @media (min-width: 0px) and (max-width: 670px) {
    body {
      font-size:20px;
      filter:invert(10%)
    }
    .images {
      max-width: 80%;
      max-height: 80%;
    }

    #topban{
left: 0px;
width:100%;
display:inline-block;
    }

    #cal{
      display:none;
    }

    li a{
      font-size: 70%;
display:block;
width:100%;
    }

    li{
      margin-left: 2%;
width:90%;
justify-content: space-evenly;
    }

    form.example input[type=text] {
      padding: 10px;
      font-size: 20px;
      border: 3px solid #5C008E;
      width: 90%;
    }

    .images{
      justify-content:space-between;
      display:block;
      column-count: 2;
      margin-left: 10px;
    }

.wuh{
  display:none
}
    #products{
      font-family: 'IBM Plex Sans', sans-serif;
      width:100%;
      font-size:30px;
      left:0px;
      top:150px;
        position:absolute;
        flex-wrap: wrap;
    }

    #leftsection{
      background-color:transparent;
    }

    #logo{
      display:none;
    }

    .peace2{
      display:inline-block;
    }

    .pic{
max-width: 55%;
    }

    .listbutt{
      width:60%;
      font-size:60%;
      position:fixed;
      padding: 3px;
      margin-top: 15px;
      margin-left: 8px;
    }
  }